.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

li {
  list-style: none;
  vertical-align: middle;
}

a {
  color: #2196f3;
  text-decoration: none;

  &:hover {
    color: #0d47a1;
  }
}

.page-container {
  padding: 0 40px;
}

/** Spacings **/
.spacing-right-20 {
  padding-right: 20px;
}

.spacing-left-20 {
  padding-left: 20px;
}

.spacing-outer-top-20 {
  margin-top: 20px;
}

.spacing-outer-bottom-20 {
  margin-bottom: 20px;
}