$gap_min: 10px;
$gap_small: 20px;
$gap_middle: 40px;
$gap_large: 80px;
$gap_max: 160px;

$breakpoint_small: 1024px;
$breakpoint_small_to: 1309px;
$breakpoint_middle: 1310px;
$breakpoint_middle_to: 1599px;
$breakpoint_large: 1600px;

$content_small: 984px;
$content_middle: 1060px;
$content_large: 1296px;

$border_radius: 3px;