@import "../../assets/styles/variables";

.TextArea {
  display: block;
  resize: none;

  &_wrapper {
    position: relative;

    &:after {
      background: @light-grey;
      border-radius: 3px 0 0 0;
      box-shadow: inset 0 1px 0 0 @light-grey-2;
      content: "";
      display: block;
      height: @spacing4x;
      left: 1px;
      position: absolute;
      top: 1px;
      transition: .3s;
      width: ~'calc(100% - 45px)';
      z-index: 5;
    }

    &.TextArea_inFocus {
      &:after {
        background: @color-white;
        box-shadow: none;
      }
    }
  }

  &__input {
    background: @light-grey;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 @light-grey-2;
    color: @basic;
    font-size: 14px;
    height: auto;
    max-height: 274px;
    min-height: 110px;
    outline: none;
    padding: @spacing4x @spacing2x @spacing2x @spacing2x;
    transition: .3s;
    width: 100%;

    &::placeholder {
      color: @secodary;
    }

    &:focus {
      background: @color-white;
      border-color: @light-blue;
      box-shadow: none;

      &::placeholder {
        color: @light-blue-2;
      }
    }

    &:disabled {
      background: @color-white;
      border-color: @light-grey;
      box-shadow: none;
      color: @light-grey-2;
      cursor: not-allowed;
      user-select: none;

      &::placeholder,
      & ~ .TextArea__label {
        color: @light-grey-2;
        user-select: none;
      }
    }
  }

  &__label {
    color: @secodary;
    cursor: text;
    font-size: 14px;
    left: 20px;
    position: absolute;
    top: 20px;
    transition: .3s;
    z-index: 6;
  }

  &__type-icon,
  &__notification-icon {
    height: 20px;
    position: absolute !important;
    width: 20px;
    z-index: 200;
  }

  &__type-icon {
    left: 20px;
    top: 11px;
  }

  &__notification-icon {
    opacity: 0;
    right: 20px;
    top: 20px;
    transition: opacity .25s @easeInOutCubic;
  }

  &_fieldfilled {
    .TextArea__label {
      font-size: 11px !important;
    }
  }

  &_ta2,
  &_ta4,
  &_ta6,
  &_ta8 {
    .TextArea__type-icon,
    .TextArea__notification-icon {
      top: 21px;
    }

    .TextArea__input {
      padding-left: 50px;
    }

    .TextArea__label {
      padding-left: 30px;
    }
  }

  &_ta3,
  &_ta4,
  &_ta7,
  &_ta8 {
    .TextArea__input {
      font-size: 16px;
    }

    .TextArea__label {
      font-size: 16px;
    }
  }

  &_valid,
  &_invalid {
    .TextArea__notification-icon {
      opacity: 1;
    }
  }

  &_valid {
    .TextArea__input {
      animation: showSuccessField .25s @easeInOutCubic forwards, hideSuccessField .25s @easeInOutCubic .75s both;
    }

    &:after {
      animation: showSuccessField .25s @easeInOutCubic forwards, hideSuccessField .25s @easeInOutCubic .75s both;
    }
  }
  &_invalid {
    .TextArea__input {
      animation: showErrorField .25s @easeInOutCubic forwards, hideErrorField .25s @easeInOutCubic .75s both;
    }
    &:after {
      animation: showErrorField .25s @easeInOutCubic forwards, hideErrorField .25s @easeInOutCubic .75s both;
    }
  }

  &__limit {
    bottom: 10px;
    color: @secodary;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 10px;
    text-align: right;
    z-index: 50;
  }

  &_ta7,
  &_ta8 {
    .TextArea__limit {
      font-size: 13px;
    }
  }
}

@keyframes showSuccessField {
  0% {
    background: @light-grey;
    box-shadow: inset 0 1px 0 0 @light-grey-2;
  }
  100% {
    background: @light-green;
    box-shadow: inset 0 1px 0 0 @light-green-2;
  }
}

@keyframes hideSuccessField {
  0% {
    background: @light-green;
    box-shadow: inset 0 1px 0 0 @light-green-2;
  }
  100% {
    background: @light-grey;
    box-shadow: inset 0 1px 0 0 @light-grey-2;
  }
}

@keyframes showErrorField {
  0% {
    background: @light-grey;
    box-shadow: inset 0 1px 0 0 @light-grey-2;
  }
  100% {
    background: @warning-light;
    box-shadow: inset 0 1px 0 0 @warning;
  }
}

@keyframes hideErrorField {
  0% {
    background: @warning-light;
    box-shadow: inset 0 1px 0 0 @warning;
  }
  100% {
    background: @light-grey;
    box-shadow: inset 0 1px 0 0 @light-grey-2;
  }
}
