.tm-quark-checkbox {
  align-items: center;
  box-sizing: border-box;
  color: #242338;
  cursor: pointer;
  display: inline-flex;
  font-weight: 400;
  flex: row nowrap;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  &_disabled {
    pointer-events: none;
  }

  &:hover {
    color: #1ab744;
  }

  &:focus {
    outline: none;
  }

  &__input {
    display: none;
  }

  &__icon {
    align-items: center;
    border: 2px solid #cfd8dc;
    border-radius: 3px;
    display: inline-flex;
    height: 20px;
    margin-right: 10px;
    justify-content: center;
    width: 20px;

    &::before {
      border-bottom: 2px solid;
      border-right: 2px solid;
      color: transparent;
      content: "";
      display: block;
      height: 14px;
      margin-top: -4px;
      transform: rotate(45deg);
      width: 10px;
    }

    .tm-quark-checkbox__input:checked + & {
      background-color: #1ab744;
      border-color: #1ab744;

      &::before {
        color: #fff;
      }
    }

    .tm-quark-checkbox__input:disabled + & {
      background-color: transparent;
      border-color: #eceff1;
    }

    .tm-quark-checkbox__input:checked:disabled + & {
      background-color: #cfd8dc;
      border-color: #cfd8dc;
    }

    .tm-quark-checkbox:hover & {
      border-color: #1ab744;
    }

    .tm-quark-checkbox:active & {
      background-color: #1ab744;
      border-color: #1ab744;
      height: 16px;
      margin: 2px 12px 2px 2px;
      width: 16px;

      &::before {
        color: transparent;
      }
    }
  }

  &__label {
    align-items: center;
    display: inline-flex;

    .tm-quark-checkbox__input:checked ~ & {
      color: #1ab744;
      font-weight: 700;
    }

    .tm-quark-checkbox__input:disabled ~ & {
      color: #cfd8dc;
    }
  }
}
