.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  top: 0;
  width: 100%;

  &_padding {
    &_medium {
      padding: 40px;
    }

    &_large {
      padding: 80px;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__inner {
    bottom: 0;
    left: 0;
    padding: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }

  &__bg {
    background-color: #243238;
    bottom: 0;
    left: 0;
    opacity: .95;
    position: fixed;
    right: 0;
    top: 0;
    touch-action: manipulation;
  }

  &__content {
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.86, 0, .07, 1);
    border-radius: 3px;
    display: inline-block;
    position: relative;

    .popup_open & {
      animation-name: popupOpen;
    }

    .popup_closed & {
      animation-name: popupClosed;
    }

    .popup_bg_transparent & {
      background-color: rgba(0,0,0,0);
      color: #fff;
    }

    .popup_bg_fill & {
      background-color: #fff;
    }

    .popup_padding_medium & {
      padding: 40px;
      max-width: calc(~"100vw - 80px");
      max-height: calc(~"100vh - 80px");
    }

    .popup_padding_large & {
      padding: 80px;
      max-width: calc(~"100vw - 160px");
      max-height: calc(~"100vh - 160px");
    }
  }

  &__close-btn {
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: -15px;
    -webkit-text-decoration-skip: objects;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    touch-action: manipulation;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    .popup_bg_transparent & {
      background-color: rgba(0,0,0,0);
      height: 20px;
      top: 0;
      width: 20px;

      &::before,
      &::after {
        background-color: #fff;
        height: 22px;
        left: 9px;
        top: -1px;
        width: 2px;
      }

      &:hover {
        &::before,
        &::after {
          background-color: #d84315;
        }
      }
    }

    .popup_bg_fill & {
      background-color: #b0bec5;
      height: 30px;
      top: -15px;
      width: 30px;

      &:hover {
        background-color: #d84315;
      }

      &::before,
      &::after {
        background-color: #fff;
        height: 16px;
        left: 13px;
        width: 4px;
      }

      &::before {
        top: 8px;
      }

      &::after {
        top: 7px;
      }
    }
  }

  &__close-text {
    background-color: #546e7a;
    border-radius: 3px;
    bottom: -100px;
    color: #fff;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    padding: 0 20px;
    position: absolute;
    transform: scale(.8) translateX(-50%);

    .popup__close-btn:hover & {
      bottom: -60px;
      opacity: 1;
      transform: scale(1) translateX(-50%);
      transition: opacity .3s cubic-bezier(.68, -.55, .265, 1.55) .2s, bottom .3s cubic-bezier(.68, -.55, .265, 1.55) .2s;
    }

    &::before {
      background-color: #546e7a;
      border-top-right-radius: 3px;
      content: "";
      height: 14px;
      left: 50%;
      margin-left: -7px;
      position: absolute;
      top: -7px;
      transform: rotate(-45deg);
      width: 14px;
    }
  }

  @keyframes popupOpen {
    from {
      opacity: 0;
      transform: scale(.8);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes popupClosed {
    from {
      opacity: 1;
      transform: scale(1);
    }

    to {
      opacity: 0;
      transform: scale(.8);
    }
  }
}
