.tm-quark-radio {
  align-items: center;
  box-sizing: border-box;
  color: #242338;
  cursor: pointer;
  display: inline-flex;
  font-weight: 400;
  flex: row nowrap;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  &_disabled {
    pointer-events: none;
  }

  &:hover {
    color: #1ab744;
  }

  &:focus {
    outline: none;
  }

  &__input {
    display: none;
  }

  &__icon {
    align-items: center;
    border: 2px solid #cfd8dc;
    border-radius: 50%;
    display: inline-flex;
    height: 20px;
    margin-right: 10px;
    justify-content: center;
    width: 20px;

    &::before {
      background-color: transparent;
      border-radius: 50%;
      content: "";
    }

    .tm-quark-radio__input:checked + & {
      border-color: #1ab744;

      &::before {
        background-color: #1ab744;
        height: 10px;
        width: 10px;
      }
    }

    .tm-quark-radio__input:disabled + & {
      border-color: #eceff1;
    }

    .tm-quark-radio__input:checked:disabled + & {
      border-color: #cfd8dc;

      &::before {
        background-color: #cfd8dc;
      }
    }

    .tm-quark-radio:hover & {
      border-color: #1ab744;
    }

    .tm-quark-radio:active & {
      border-color: transparent;

      &::before {
        background-color: #1ab744;
        height: 16px;
        width: 16px;
      }
    }
  }

  &__label {
    align-items: center;
    display: inline-flex;

    .tm-quark-radio__input:checked ~ & {
      color: #1ab744;
      font-weight: 700;
    }

    .tm-quark-radio__input:disabled ~ & {
      color: #cfd8dc;
    }
  }
}
