.stars-rating {
  display: inline-block;
  &__icon {
    display: inline-block;
    position: relative;
    height: 19px;
    width: 20px;
    padding-right: 5px;
    vertical-align: text-bottom;
    background-image: svg-load("../assets/images/icons/icon-star-fill.svg");
    background-repeat: no-repeat;
    &_empty {
      background-image: svg-load("../assets/images/icons/icon-star-empty.svg");
    }
    &_half {
      background-image: svg-load("../assets/images/icons/icon-star-half.svg");
    }
  }
  &_hovered {
    &:hover {
      .stars-rating__icon {
        background-image: svg-load("../assets/images/icons/icon-star-fill.svg");
        cursor: pointer;
        &:hover {
          background-image: svg-load("../assets/images/icons/icon-star-fill.svg");
          & ~ .stars-rating__icon {
            background-image: svg-load("../assets/images/icons/icon-star-empty.svg");
          }
        }
      }
    }
  }
}
