@import "../assets/styles/variables";

.text-area {
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: calc(~'100% - 17px');
    height: 20px;
    border-bottom-left-radius: 3px;
    background: #eceff1;
    transition: background .3s;
  }

  & &__input {
    display: block;
    resize: none;
    padding-top: @spacing2x;
    padding-right: 50px;
    padding-bottom: @spacing2x;
    min-height: 125px;
  }

  & &__label {
    height: 40px;
    position: absolute;
    top: 2px;
    left: 22px;
    background: transparent;
    width: calc(~'100% - 50px');
    text-align: left;
    padding-top: 19px;
    box-sizing: border-box;
    transition: background .3s .1s, font-size .3s;
  }

  & &__notification-icon {
    opacity: 0;
    top: 20px;
  }

  &_filled {
    .text-area__input {
      padding-top: @spacing4x;
    }

    .text-area__label {
      transition: background .3s 0s, font-size .3s;
      background: #eceff1;
      left: 21px;
    }

    &.text-area_focused .text-area__label {
      background: #fff;
    }
  }

  &_focused,
  &_disabled {
    &:after {
      background: #fff;
    }
  }

  &_disabled {
    .text-area__limit {
      color: #eceff1;
    }
  }

  &_ta2,
  &_ta4,
  &_ta6,
  &_ta8 {
    .text-area__type-icon,
    .text-area__notification-icon {
      top: 21px;
    }

    .text-area__input {
      padding-left: 50px;
    }

    .text-area__label {
      width: calc(~"100% - 90px");
      left: 52px;
    }
  }

  &_ta3,
  &_ta4,
  &_ta7,
  &_ta8 {
    .text-area__input,
    .text-area__label {
      font-size: 16px;
    }
  }

  &_valid,
  &_invalid {
    .text-area__notification-icon {
      opacity: 1;
    }
  }

  &_valid.animated {
    .text-area__label {
      animation: showSuccessBackground .25s @easeInOutCubic .15s forwards, hideSuccessBackground .25s @easeInOutCubic .75s both;
    }

    &:after {
      animation: showSuccessBackground .25s @easeInOutCubic .15s forwards, hideSuccessBackground .25s @easeInOutCubic .75s both;
    }
  }
  &_invalid.animated {
    .text-area__label {
      animation: showErrorBackground .25s @easeInOutCubic .15s forwards, hideErrorBackground .25s @easeInOutCubic .75s both;
    }
    &:after {
      animation: showErrorBackground .25s @easeInOutCubic .15s forwards, hideErrorBackground .25s @easeInOutCubic .75s both;
    }
  }

  &__limit {
    bottom: 10px;
    color: @secodary;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    right: 10px;
    text-align: right;
    z-index: 50;
  }

  &_ta7,
  &_ta8 {
    .text-area__limit {
      font-size: 13px;
    }
  }
}

/***--- Animation keyframes ---***/

@keyframes showSuccessBackground {
  0% {
    background: @light-grey;
  }
  100% {
    background: @light-green;
  }
}

@keyframes hideSuccessBackground {
  0% {
    background: @light-green;
  }
  100% {
    background: @light-grey;
  }
}

@keyframes showErrorBackground {
  0% {
    background: @light-grey;
  }
  100% {
    background: @warning-light;
  }
}

@keyframes hideErrorBackground {
  0% {
    background: @warning-light;
  }
  100% {
    background: @light-grey;
  }
}
