@import "../assets/styles/variables";

.icon {
  &-letter:before {
    background-image: svg-load("../assets/images/icons/icon-letter.svg", fill: #b0bec5);
  }
  &-eye:before {
    background-image: svg-load("../assets/images/icons/icon-eye.svg", fill: #2196f3);
  }
  &-eye_crossed:before {
    background-image: svg-load("../assets/images/icons/icon-eye-crossed.svg");
  }
  &-key:before {
    background-image: svg-load("../assets/images/icons/icon-key.svg", fill: #b0bec5);
  }
  &-magnifier:before {
    background-image: svg-load("../assets/images/icons/icon-magnifier.svg", fill: #b0bec5);
  }
  &-alert:before {
    background-image: svg-load("../assets/images/icons/icon-alert.svg", fill: #ff8f00);
  }
  &-check_circle:before {
    background-image: svg-load("../assets/images/icons/icon-check-circle.svg", fill: #1ab744);
  }
}

.text-field {
  position: relative;

  &__input {
    background: #eceff1;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #cfd8dc;
    color: @basic;
    font-size: 14px;
    font-weight: 400;
    height: @spacing4x;
    line-height: 1.2;
    outline: none;
    padding: 0 @spacing4x 0 @spacing2x;
    transition: .3s;
    width: 100%;
    -webkit-appearance: none;

    &::placeholder {
      color: #90a4ae;
    }

    &:focus {
      background: #fff;
      border-color: #90caf9;
      box-shadow: none;

      &::placeholder {
        color: #bbdefb;
      }
    }

    &:disabled {
      background: #fff;
      border-color: #eceff1;
      box-shadow: none;
      color: #eceff1;

      &::placeholder,
      & ~ .text-field__label {
        color: #eceff1;
      }
    }
  }

  &__label {
    color: #90a4ae;
    cursor: text;
    left: 22px;
    pointer-events: none;
    position: absolute;
    top: 21px;
    transition: .3s;
    white-space: nowrap;
    max-width: calc(100% - @spacing4x);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__type-icon,
  &__notification-icon {
    height: 20px;
    position: absolute !important;
    width: 20px;
  }

  &__type-icon {
    left: 20px;
    top: 11px;
  }

  &__notification-icon {
    right: 20px;
    top: 9px;
    transition: opacity .25s @easeInOutCubic;
  }

  &__notification-icon:not(.password-toggle) {
    opacity: 0;
  }

  .password-toggle {
    cursor: pointer;
    margin-right: @spacing4x;

    &:active:before {
      background-image: svg-load("../assets/images/icons/icon-eye.svg", fill: #0d47a1);
    }
  }

  &_focused {
    .text-field__label {
      color: #bbdefb;
    }

    .icon {
      &-letter:before {
        background-image: svg-load("../assets/images/icons/icon-letter.svg", fill: #90caf9);
      }
      &-key:before {
        background-image: svg-load("../assets/images/icons/icon-key.svg", fill: #90caf9);
      }
      &-magnifier:before {
        background-image: svg-load("../assets/images/icons/icon-magnifier.svg", fill: #90caf9);
      }
    }
  }

  &_disabled {
    .text-field__type-icon {
      &.icon {
        &-letter:before {
          background-image: svg-load("../assets/images/icons/icon-letter.svg", fill: #eceff1);
        }
        &-key:before {
          background-image: svg-load("../assets/images/icons/icon-key.svg", fill: #eceff1);
        }
        &-magnifier:before {
          background-image: svg-load("../assets/images/icons/icon-magnifier.svg", fill: #eceff1);
        }
      }
    }
  }

  &_filled {
    .text-field__label {
      color: #90a4ae;
      font-size: 11px;
      top: 12px;
    }
  }

  &_F3,
  &_F4 {
    &.text-field_filled {
      .text-field__input {
        padding-top: 20px;
      }
    }

    .text-field__input {
      font-size: 16px;
      height: 60px;
    }

    .text-field__type-icon,
    .text-field__notification-icon {
      top: 21px;
    }
  }

  &_F2,
  &_F4 {
    .text-field__input {
      padding-left: 50px;
    }

    .text-field__label {
      padding-left: 30px;
    }
  }

  &_valid,
  &_invalid {
    .text-field__notification-icon {
      opacity: 1;
    }

    &.animated {
      .text-field__input {
        border-color: transparent;
      }
    }
  }

  &_valid.animated {
    .text-field__input {
      animation: showSuccessField .25s @easeInOutCubic both, hideSuccessField .25s @easeInOutCubic .75s forwards;
    }
  }

  &_invalid.animated {
    .text-field__input {
      animation: showErrorField .25s @easeInOutCubic both, hideErrorField .25s @easeInOutCubic .75s forwards;
    }
  }
}

.animatedLeftToRight {
  animation: animationLeftToRight .25s @easeInOutQuint both;
}

.animatedRightToLeft {
  animation: animationRightToLeft .25s @easeInOutQuint both;
}

.animatedTopToBottom {
  animation: animationTopToBottom .25s @easeInOutQuint both;
}

.animatedBottomToTop {
  animation: animationBottomToTop .25s @easeInOutQuint both;
}

@keyframes animationLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animationRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animationTopToBottom {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showSuccessField {
  0% {
    background: #eceff1;
    box-shadow: inset 0 1px 0 0 #cfd8dc;
  }
  100% {
    background: #ddf7e5;
    box-shadow: inset 0 1px 0 0 #a8e4bb;
  }
}

@keyframes hideSuccessField {
  0% {
    background: #ddf7e5;
    box-shadow: inset 0 1px 0 0 #a8e4bb;
  }
  100% {
    background: #eceff1;
    box-shadow: inset 0 1px 0 0 #cfd8dc;
  }
}

@keyframes showErrorField {
  0% {
    background: #eceff1;
    box-shadow: inset 0 1px 0 0 #cfd8dc;
  }
  100% {
    background: #fff8e1;
    box-shadow: inset 0 1px 0 0 #ffca28;
  }
}

@keyframes hideErrorField {
  0% {
    background: #fff8e1;
    box-shadow: inset 0 1px 0 0 #ffca28;
  }
  100% {
    background: #eceff1;
    box-shadow: inset 0 1px 0 0 #cfd8dc;
  }
}
